.img{
    position: absolute;
    right: 0;
    width: 100vw;
    z-index: -1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    padding-left: 10px;
}
.btn{
    background-color:#f98004;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;    
}
.btn:hover{
    transform: scale(1.3);
}
.apply{
    transform: translate(600px,650px);
    
}