
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
}
h1 {
    color: #333;
}
p {
    color: #555;
}
a {
    text-decoration: none;
    color: #007BFF;
}
