/* Importing Google font Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;5003600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


.header{
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    padding: 0 10px;
}
.background-clip{
    position: absolute;
    right: 0;
    width: 100vw;
    z-index: -1;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
@media (min-aspect-ratio:18/5){
    .background-clip{
        width: 100%;
        height:100%;
        object-fit: cover;
    }
}
.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo {
    display:flex;
    gap:"10px";
    text-decoration: none;
    align-items: center;
}
.navbar .logo img{
    width: 40px;
    border-radius: 50%;
}
.navbar .logo h2 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;

}
.navbar .login-btn {
    border: none;
    outline: none;
    color: #257360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    background: #fff;
}
.show-popup

.form-popup{
    position:fixed;
    top: 50%;
    left: 50%;
    max-width:720px;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}
.form-popup .close-btn{
    position:absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}
.form-popup .form-box{
    display:flex;

}
.form-box .form-details{
    max-width: 330px;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:("VISHNU PHOTO SUIT.jpg");
    background-size: cover;
    background-position: center;
}
.login .form-details{
    background:("VISHNU PHOTO SUIT.jpg");
    background-size: cover;
    background-position: center;
}

.signup .form-details{
    background:("VISHNU PHOTO SUIT.jpg");
    background-size: cover;
    background-position: center;
}


.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}
.form-box .form-content{
    width: 100;
    padding: 35px; 
}
.form.input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}
.input-field input:focus{
    border-color: #00bcd4;
}
.input-field input:is(:focus, :valid) {
    padding:16px 15px 0;
}
.form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events:none;
    transform: translateY(-50%);
    transition: 0.2s ease;

}
.input-field input:is(:focus, :valid) ~label{
    color: #00bcd4;
    font-size: 075r;
    transform: translateY(-120%);
}

.form-box a{
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover{
    text-decoration: undeline;
}
.form-box :where(.forgot-pass, .policy-text) {
    display: inline-flex;
    margin-top:14px;
    font-size: 0.95rem;
}
.form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
    transition: 0.2s ease;

}
.form button:hover {
    background: #0097a7;
}
.form-popup .signup{
    display:none;

}
.form-box .bottom-link{
    text-align: center;
}

.signup  .policy-text{
    display: flex;
    align-items: center;
}

.signup  .policy-text input{
    width: 14px;
    height: 14px;
    margin-right: 7px;
}
@media (max-width: 760px){
    .form-popup{
        width:95%
    }

    .form-box .form-details{
        display: none;
    }

    .form-box .form-content{
        padding: 30px 20px;
    }
}