body{
    margin: 0;
    font-family: sans-serif;
    background: lightslategray;
}
h3{
    text-align: center;
     
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 50;
    align-items: center;
    margin: 25px;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50;
    margin:50;
    float: left;
    box-sizing: border-box;
    border-radius: 200;
    cursor: pointer;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .4s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);
    background: #f2f2f2;

}




img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;

}

.content{
    width: 50;
    margin:50;
    float: left;
    box-sizing: border-box;
    border-radius: 200;
    cursor: pointer;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    transition: .4s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);
    background: #f2f2f2;

}

.content{
    width: 50;
    margin:50;
    float: left;
    box-sizing: border-box;
    border-radius: 200;
    cursor: pointer;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .4s;
    margin-bottom: 60px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);
    background: #f2f2f2;

}




img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;

}